<a href="https://colab.research.google.com/github/vishalchugh/python_practice/blob/master/ineuron_ML_deploy_assignment_1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Task1.1- first program in Jupyter nb

print("Hi ! Myself Vishal")

Hi ! Myself Vishal

In [9]:
# Task1.2-
''' 
    program to print multiples of 7 but not 5 in between 2000 and 3200(incl.) in a single line comma separated.
'''

# l1=[]


for i in range(2000, 3201):
  if (i%7==0 and i%5 !=0):
    print(i,end=",")

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199,

In [10]:
# Task1.3-  
'''accept the user's first and last name and then getting them printed in
the the reverse order with a space between first name and last name.'''

fst_name = input('Enter ur first name: ')
last_name = input('Enter ur last name: ')
print(last_name + ' ' + fst_name)

Enter ur first name: John
Enter ur last name: Doe
Doe John

In [11]:
# Task1.4- 
''' Write a Python program to find the volume of a sphere with diameter 12 cm.
Formula: V=4/3 * Ï€ * r3'''

dia = 12
r = dia/2
print("The volume of sphere is = %5.2f"%((4/3)*(22/7)*(r**3)))

The volume of sphere is = 905.14

In [0]:
# -- TASK 2 __Starts here__

In [14]:
# Task2.1- 
'''program which accepts a sequence of comma-separated numbers from console and
generate a list.''' 


lst_str = input("Please enter a comma separated list of no's: ")
# lst = [i for i in lst_str if i not in (',')]          # method1 --> using list comprehension
# lst

#  method2
m=[]
for i in lst_str.split(','):
  m.append(i)

m

Please enter a comma separated list of no's: 1,3,6,9

['1', '3', '6', '9']

In [15]:
# Task2.2-
#  pattern using nested for loop  // method1 // But we need nested loops !
# link --> https://pynative.com/print-pattern-python-examples/

for i in range(5):
  print("*"*i)

for i in range(4,0,-1):
  print("*"*i)

*
**
***
****
****
***
**
*

In [16]:
# Task2.2-
#  pattern using nested for loop
for i in range(5):
  for j in range(0,i+1):
    print("*", end=" ")
  print("") 

for i in range(4,0,-1):
  for j in range(0, i):
    print("*", end=' ')
  print("")

*
* *
* * *
* * * *
* * * * *
* * * *
* * *
* *
*

In [17]:
# Task2.3-
'''program to reverse a word after accepting the input from the user.''' 

user_ip = input("Enter a word to reverse it !")
print(user_ip[::-1])

Enter a word to reverse it !check_reverse
esrever_kcehc

In [20]:
# Task 2.4-

s1= 'WE, THE PEOPLE OF INDIA, having solemnly resolved to constitute India into a SOVEREIGN, SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC and to secure to all its citizens'

print('WE, THE PEOPLE OF INDIA,{} having solemnly resolved to constitute India into a SOVEREIGN, {}{} SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC{} and to secure to all its citizens'.format('\n\t', '!', '\n\t\t', '\n\t\t '))

WE, THE PEOPLE OF INDIA,
	 having solemnly resolved to constitute India into a SOVEREIGN, !
		 SOCIALIST, SECULAR, DEMOCRATIC REPUBLIC
		  and to secure to all its citizens